doctype
html(lang="en")
   head
      title Demo of View using Jade elements
   body
      h1 Jade Engine
      p
         | Using Jade template, HTML can be written in a much more readable way.
         | Indentation is very important in Jade.

      div#elements  Containers can be represented using div.

      #another_element
         | Without div prefix also it can be represented.

      .items  Divs can have classes also.

         | Lists can be represented as below.
         ul
            li One
            li Two
            li Three
      p
         a(href="http://www.wipro.com")   This is a hyperlink
